.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border-radius: 8px  !important;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  font-family: var(--font-family) !important;
  cursor: pointer;
  height: 65%;
}
