.hero {
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero * {
  font-family: "Poppins" !important ;
  font-weight: 600 !important;
}
