.navbar {
  background-color: var(--color-primary);
  height: 60px;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal button:first-child {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal label {
  font-family: var(--font-family);
}

.modal .stack {
  height: 100%;
}

.modal .stack label, input{
  font-size: 12px !important;
}

.modal .stack > div {
  width: 100%;
}

/* Label when focused */
.modal label.Mui-focused {
  color: var(--color-primary);
}

/* Outlined input root when focused */
.modal .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: var(--color-primary);
}

/* The actual text input when focused */
.modal .MuiInputBase-input.Mui-focused {
  color: var(--color-primary);
}

/* Hover state for the outline */
.modal .MuiOutlinedInput-root:hover fieldset {
  border-color: var(--color-primary);
}


.modal fieldset {
  border-color: var(--color-primary);
}

.modal button:last-child {
  width: 50%;
  background-color: var(--color-primary);
  font-weight: bold;
}

.modal button:last-child:hover {
  background-color: var(--color-primary);
}

