.wrapper {
    display: flex;
    height: 48px;
    align-items: stretch;
}

.search {
    padding: 14px 20px;
    height: 100%;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--color-black);
    width: 502px;
}
.searchButton {
    border-radius: 0 8px 8px 0;
    padding: 14px 20px;
    height: 100%;
    border: 1px solid var(--color-black);
    border-left: none;
    cursor: pointer;

}