.search {
  padding: 14px 20px;
  height: 90%;
  width: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1.5px solid var(--color-black);
  box-sizing: border-box;
  background-color: var(--color-secondary);
  font-size: var(--font-size-base) !important;
  font-family: "Poppins";
}

.search input::placeholder {
  color: rgb(0, 0, 0, 0.6);
  opacity: 1;
  font-family: "Poppins";
  font-size: var(--font-size-base);
}

.wrapper {
  display: flex;
  align-items: center;
  height: 40px;
}

.searchButton {
  border-radius: 0px 8px 8px 0px !important ;
  padding: 10px 20px;
  height: 90%;
  width: 60px;
  border: 1.5px solid var(--color-black) !important;
  border-left: none !important;
  cursor: pointer;
  background-color: var(--color-secondary) !important;
}

.listElement {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  cursor: default !important;
}

.listElement:hover {
  background-color: rgb(255, 255, 255, 0.15);
}

.image {
  width: 46px;
  height: 51px;
  border-radius: 10px;
  border: 5px solid #1d1d1d;
}

.albumTitle {
  font-weight: 400;
  font-size: 13px !important;
}

.albumArtists {
  font-weight: 400;
  font-size: 10px !important;
}
