body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-primary: #34c94b;
  --color-secondary: #ffffff;
  --color-black: #121212;
  --font-family: "Poppins", sans-serif;
  --font-size-base: 13px;
  --spacing-unit: 8px;
}
