.section {
    padding: 24px 0;
}

.header {
    display: flex;
    justify-content: space-between; /* Spacing between Title and Button */
    align-items: center;
    margin-bottom: 24px; /* Vertical spacing between text and grid */
}

.title {
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.collapseButton {
    background-color: transparent;
    border: none;
    color: var(--primary-color); /* Green */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

/* The Grid Layout */
.cardGrid {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to next line */
    gap: 30px; /* Space between cards */
    justify-content: center; /* Center the grid items */
}